<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
<h1>Connectez-vous, votre équipe vous attend !</h1>
<form method="post" action="/login">
    <label for="pseudo">Pseudo</label>
    <input type="text" id="pseudo" name="username" autocomplete="username">

    <label for="mdp">Mot de passe</label>
    <input type="password" id="mdp" name="password" autocomplete="current-password">

    <button type="submit">Se connecter</button>
</form>

</body>
</html>
